<%- include ../public/header %>
        <ul class="archive">
            <% var lastyear = 0 %>
            <% posts.forEach(function(post, index){ %>
            <% if(lastyear != post.time.year){ %>
            <li class=""><h3><%= post.time.year %></h3></li>
            <% lastyear=post.time.year } %>
            <li class=""><a class="" href="/u/<%= post.name %>/<%= post.title %>"><%= post.title %></a><span class=""><%= post.time.time %></span></li>
            <% }) %>
        </ul>
    </div>
</div>
<%- include ../public/footer %>